# DB
POSTGRES_DB=neondb
POSTGRES_DB_PORT=5432
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=npg_Hq3ncTy8lXbi
POSTGRES_HOST=ep-restless-unit-alztthl8-pooler.c-3.eu-central-1.aws.neon.tech
# Django
SECRET_KEY=qWtKA7xDCm8HdGSoIidL5RKfR9fT84m2
DJANGO_SETTINGS_MODULE=task_manager.settings.prod
RENDER_EXTERNAL_HOSTNAME=<domain>
