{% extends "base.html" %}

{% block title %}<title>Workers</title>{% endblock %}

{% block content %}
  <h1>Workers</h1>
  {% include "includes/search_form.html" %}

  {% if worker_list %}
    <ul>
      {% for worker in worker_list %}
        <li>
          <a href="{% url 'tasks:worker-detail' pk=worker.pk %}">{{ worker }}</a>
          {% if worker.position %} - {{ worker.position }}{% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No workers yet.</p>
  {% endif %}
{% endblock %}
